*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}
/* Structure / helper classes */

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.hero{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    background: linear-gradient(0.45turn, white, grey, white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 5rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.section-title{
    font-size: 3rem;
    color: rgb(66, 66, 66);
}

.content-title{
    font-size: 2rem;
    margin: 0 15px;
    color: rgb(66, 66, 66);
}

.content{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

/* general rules */

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(240, 240, 240);
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}

/* nav */ 

header{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.nav{
    background-color: rgb(66, 66, 66);  
    display: flex;
    width: 100%;
    height: 75px;
    align-items: center;
}

.logo{
    height: 50px;
    width: 50px;
    margin-left: 1rem;
}

.logo img{
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}

#logo{
    position: absolute;
}

.logo img:hover{
    transform: rotate(360deg);
}

.nav-list{
    display: flex;  
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0 auto;
}

.nav-list li{
    font-size: 1.8rem;
    color: white;
    padding: 20px;
    transition: all 0.75s;
}

.nav-list li:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(66, 66, 66);
}

/* footer */

.footer{
    background-color: rgb(66, 66, 66);
    height: 130px;
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    align-items: flex-start;
    justify-content: space-around;
}

.footer ul{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.footer ul li{
    font-size: 1.2rem;
    transition: 0.5s all;
}

.footer ul li:hover{
    color: rgb(255, 145, 0);
}


/* Home */

.content-block{
    width: 90%;
    padding: 0 20px;
    margin: 30px auto 100px;
    display: flex;
    flex-direction: row;
}

.content-block a{
    color: rgb(255, 145, 0);
    text-decoration: underline  dotted;
}

.content-block p{
    font-size: 1.2rem;
    padding: 10px 40px;
}

.content-block p:first-child{
    column-count: 3;
    column-gap: 15px;
    padding: 0;
}

.content-left, .content-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-block img{
    border-radius: 15px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in;
}

.content-block img:hover{
    transform: scale(1.08);
    box-shadow: 0px 0px 15px rgb(66, 66, 66);
}

/* gallery */
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.gallery img{
    height: 200px;
    width: auto;
    margin: 30px 0;
    transition: 0.5s all;
    box-shadow: 3px 3px 5px rgb(66, 66, 66);
}

.gallery img:hover{
    transform: scale(1.05) rotate(3deg);

}

.gallery iframe{
    margin: 30px 0;
}
/* big view */

.gallery-viewer{
    width:100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(66,66, 66, 0.9);
    display: none;
    align-items: center;
    justify-content: center;
}

.exit{
    position: fixed;
    top: 0;
    right: 10px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

#img-large{
    width: 80%;
}

/* responsive */

@media only screen and(max-width:768px){
    .nav{
        height: auto;
        width: 100%;
        flex-direction: column;
    }
}